*{
   margin: 0;
   box-sizing: border-box;

}

body{
    width: 100%;
    height: 100vh;
    background-color: #b4b4b4;
    padding:20px 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

header, nav, main, footer{
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

main>p{
    min-width: 100%;
    color: #b4b4b4;

}

aside, article{
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 30px;
}

aside{
    width: 30%;

}

article{
    width: 60%;
}

section{
    background-color: #b4b4b4;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
}

address{
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 30px;
}

@media (max-width:600px){
    body{
       background-color: pink;
       padding: 10px 20px;
    font-family: 'Georgia', serif;
    }
    main, header, nav, footer{
        background-color: rgb(226, 144, 158);
    }
    
}

@media (min-width:600px) and (max-width:1600px){
    body{
       background-color: pink;
       padding: 30px 40px;
       font-family: 'Georgia', serif;
    }
    main, header, nav, footer{
        background-color: rgb(226, 144, 158);
    }
    
}

@media (min-width:1600px){
    body{
       background-color: pink;
       padding: 30px 60px;
       font-family:'Georgia', serif;
    }
    main, header, nav, footer{
        background-color: rgb(226, 144, 158);
    }
    
}

figcaption{
    background-color: rgb(226, 144, 158);
    color:black;
    padding: 5px;
    width: 400px;
    text-align: center;
    border-radius: 8px;
}

figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.contact-section {
padding: 80px 10%;
width: 1000px;

}

.contact-form {
display: flex;
flex-direction: column;
gap: 20px;
}

.form-group {
display: flex;
flex-direction: column;
gap: 8px;
}

.form-group label {
font-size: 0.95rem;
font-weight: 500;
}

.form-group input, .form-group textarea {
padding: 12px;
border: 1px solid #ccc;
border-radius: 6px;
font-size: 1rem;
background-color: #fafafa;
}

.footer {
    text-align: center;
}

